header {
    background-color: var(--aqua);
    height: 100px;
    position: sticky;
    top: 0;
}

.navigation {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navigation_list {
    display:flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    width: 100%;
}

.navigation_list_item {
    margin-right: 10px;
}

.navigation_list_item a {
    color: inherit;
    text-transform: uppercase;
}