<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience card</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="index.css">
</head>
    <body>

        <!-- Experience card -->

        <div class="card">
            <div class="img_block">
                <img src="../../assets/img/motorlogo.svg" alt="motorlogo">
            </div>
            <div class="text_block">
                <span class="text_block_dates">June 2019 - Now</span>
                <span class="text_block_company">Motorimpex</span>
                <span class="text_block_profession">Design engineer</span>
            </div>
        </div>  
    </body>
</html>