<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience card</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="index.css">
</head>
    <body>
        <!-- Experience card -->
        <div class="card">
            <div class="card__logo">
                <img src="../../assets/img/motorlogo.svg" alt="Motor logo">
            </div>
            <div class="card__info">
                <span class="card__info-period">October 2019 - November 2020</span>
                <span class="card__info-company">Motorimpex</span>
                <span class="card__info-position">Design engineer</span>
            </div>
        </div>
    </body>
</html>