<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience card</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../link/index.css">
    <link rel="stylesheet" href="index.css">
</head>
    <body>
        <!-- Experience card -->
        <a href="https://www.google.com/" class="project__link link" target="_blank">
            <div class="project">
                <div class="project__logo">
                    <img src="../../assets/img/github-mark.svg" alt="Github logo">
                </div>
                <div class="project__info">
                    <span class="project__info-title">Best project</span>
                    <span class="project__info-subtitle">Tools list:</span>
                    <ul class="project__info-list">
                        <li class="project__info-item">HTML</li>
                        <li class="project__info-item">CSS</li>
                        <li class="project__info-item">JS(jQuery)</li>
                    </ul>
                </div>
            </div>
            </a>
    </body>
</html>