.button {
    height: 42px;
    min-height: 40px;
    padding: 0 24px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    display: inline-block;
}

.button__text {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
}

.button:active {
    transition: ease-in;
    transition-duration: 100ms;
}

.button:disabled {
    pointer-events: none; /* Disables pointer state of cursor */
} 

/* Button Primary */

.button_primary {
    background-color: var( --primary-orange );
    color: var( --white );
}

.button_primary:hover {
    background-color: var( --light-orange );
}

.button_primary:active {
    background-color: var( --dark-orange );
}

.button_primary:disabled {
    background-color: var( --light-gray-tint-1 );
    color: var( --light-gray-tint-2 );
}

/* Button Secondary */

.button_secondary {
    border: 2px solid var( --gray );
    color: var( --gray );
    background-color: transparent;
}

.button_secondary:hover {
    background-color: var( --gray );
    color: var( --white );
}

.button_secondary:active {
    border: 2px solid var( --black );
    background-color: var( --black );
    color: var( --white );
}

.button_secondary:disabled {
    border: 2px solid var( --light-gray-tint-2);
    color: var( --light-gray-tint-2 );
}

/* .button_social {
    height: 40px;
    width: 40px;
    border: 2px solid var( --primary-orange );
    padding: 0;
    display: inline-flex;
} */

/* .button_social_disabled {
    border: 2px solid var( --primary-orange );
} */

.social_image {
    height: 40px;
    width: 40px;
    margin: auto;
    border: 2px solid var( --primary-orange );
    padding: 5px;
    display: inline-flex;
}

 .social_image_sets {
    height: 18px;
    width: 18px;
    border-radius: 0;
    fill: var( --primary-orange );
}

.social_image:hover {
    background-color: var( --primary-orange ); 
}

.social_image:hover .social_image_sets{ 
    fill: var( --white );
    background-color: var( --primary-orange ); 
}

.social_image:active {
    background-color: var( --dark-orange ); 
    border: 2px solid var( --dark-orange );
}

.social_image:active .social_image_sets {
    fill: var( --white );
    background-color: var( --dark-orange );
}
/* .social_image_sets:disabled {
    fill: var( --primary-orange );
} */
.rounded {
    border-radius: 50%;
}

