<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="index.css">
</head>
    <body>

        <!-- Buttons -->

        <button class="button button_primary">
            <span class="button__text">Primary</span>
        </button>
        <button class="button button_primary" disabled>
            <span class="button__text">Primary disabled</span>
        </button>
        <button class="button button_secondary">
            <span class="button__text">Secondary</span>
        </button>
        <button class="button button_secondary" disabled>
            <span class="button__text">Secondary disabled</span>
        </button>
        
        <!-- Buttons Social -->

        <a class="button button_social rounded" href="#">
            <svg class="social-image" width="10" height="18" viewBox="0 0 10 18" fill="none">
                <path
                    d="M2.70703 18H6.01172V9.94922H8.57812L9 6.75H6.01172V4.53516C6.01172 4.04297 6.08203 3.65625 6.29297 3.41016C6.50391 3.12891 6.96094 2.98828 7.59375 2.98828H9.28125V0.140625C8.64844 0.0703125 7.80469 0 6.82031 0C5.55469 0 4.57031 0.386719 3.83203 1.125C3.05859 1.86328 2.70703 2.88281 2.70703 4.21875V6.75H0V9.94922H2.70703V18Z"
                    fill="currentColor"
                />
            </svg>
        </a>
        <a class="button button_social button_social_disabled rounded disabled" href="#">
            <svg class="social-image" width="10" height="18" viewBox="0 0 10 18" fill="currentColor">
                <path
                    d="M2.70703 18H6.01172V9.94922H8.57812L9 6.75H6.01172V4.53516C6.01172 4.04297 6.08203 3.65625 6.29297 3.41016C6.50391 3.12891 6.96094 2.98828 7.59375 2.98828H9.28125V0.140625C8.64844 0.0703125 7.80469 0 6.82031 0C5.55469 0 4.57031 0.386719 3.83203 1.125C3.05859 1.86328 2.70703 2.88281 2.70703 4.21875V6.75H0V9.94922H2.70703V18Z"
                    fill="currentColor"
                />
            </svg>
        </a>
    </body>
</html>
