<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="index.css">
</head>
    <body>
        <button class="button button_primary">
            <span class="button__text">Primary</span>
        </button>
        <button class="button button_primary" disabled>
            <span class="button__text">Primary disabled</span>
        </button>
        <button class="button button_secondary">
            <span class="button__text">Secondary</span>
        </button>
        <button class="button button_secondary" disabled>
            <span class="button__text">Secondary disabled</span>
        </button>
        <a class="button button_social rounded" href="#">
            <img class="social_image"
                src="../../assets/img/icons/f-b.svg"
                alt="facebook-icon"
            />
        </a>
        <a class="button button_social button_social_disabled rounded" href="#"  >
            <img class="social_image"
                src="../../assets/img/icons/f-b.svg"
                alt="facebook-icon"
            />
        </a>
    </body>
</html>
