.content {
}

.content-holder {
    display: flex;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

/* Content aside */

.content-aside {
    width: 443px;
    min-width: 443px;
    background-color: var( --light-gray-tint-0 );
    display: flex;
    flex-direction: column;
    padding: 64px;
}

.content-aside__name {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 100%;
    color: var( --black );
    padding-bottom: 16px;
}

.content-aside__job-position {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    color: var( --gray );
}
/* Content main */

.content-main {
    width: 100%;
    padding: 64px;
    display: flex;
    flex-direction: column;
    background-color: var( --white );
}

.short-description-section {
}

.skills-section {
    height: auto;
}

.skills-table {
    width: 100%;
}

.experience-section {
}

.hobbies-section {
}

.social-networks-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

a {
    height: 24px;
}
