.content {
    background-color: var(--blueviolet);
}

.content-holder {
    display: flex;
    height: 100%;
    background-image: linear-gradient(var(--red), var(--green));
}

/* Content aside */

.content-aside {
    width: 20%;
    min-width: 100px;
    background-image: url(../../assets/img/aside-background.jpg);
}

/* Content main */

.content-main {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.short-description-section {
}

.skills-section {
    height: auto;
}

.skills-table {
    width: 100%;
}

.experience-section {
}

.hobbies-section {
}

.social-networks-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

a {
    height: 24px;
}
